.nav {
  font-family: var(--font-main);
  backdrop-filter: blur(2px);
  /* position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%); */
  width: 100%;
  max-width: 1600px;
  padding: 0.8rem 1.2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  z-index: 10;

  opacity: 1;
  transition: opacity 0.2s ease;
}

.nav.hidden {
  opacity: 0;
}

.nav a {
  color: var(--text-main);
  text-decoration: none;
  cursor: pointer;

  transition: color 0.2s ease;
}

.nav a:hover {
  color: var(--text-main-full);
}

.nav .title {
  font-size: 1.4em;
  font-weight: 400;
}

.nav .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

.nav a,
.ant-dropdown-menu a {
  opacity: 0.7;
}

.nav a.active,
.ant-dropdown-menu a.active {
  opacity: 1;
}

.nav a.active::before,
.ant-dropdown-menu a.active::before {
  content: '_';
}

.nav .language a:first-child::after {
  content: '/';
  opacity: 0.2;
  margin-left: 0.5em;
}

/* Wide */
.nav .links-wide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Dropdown */
.ant-dropdown-trigger {
  display: flex;
  align-items: center;
}

.ant-dropdown-trigger svg {
  transition: transform 0.2s ease;
}

.ant-dropdown-open svg {
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .nav .links {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .nav {
    padding: 1rem 2rem;
  }
  .nav .links {
    gap: 2em;
  }
}

@media (min-width: 1200px) {
  .container:not(.shared) .nav {
    grid-row: span 2;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }
  .container:not(.shared) .nav .links {
    display: grid;
    grid-template-rows: 1fr auto auto;
    /* justify-items: center;s */
    align-items: flex-start;
    height: 100%;
  }
}
