.search {
  position: relative;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.search * {
  background: transparent !important;
}

.panel.desktop .search {
  grid-column: span 4;
}

/* Options */
.option-label.desktop::after {
  position: absolute;
  top: 0;
  right: 1rem;
  color: #fff;
  background: var(--text-link);
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
}
.option-label.desktop.title::after {
  content: 'song';
}
.option-label.desktop.artist::after {
  content: 'artist';
}

/* Status */
.search .status {
  color: var(--text-warning);
  position: absolute;
}
.panel.mobile .search .status {
  top: -1.5rem;
}
.panel.desktop .search .status {
  top: 50%;
  right: 4rem;
  transform: translateY(-50%);
}
