.sound,
.swarm {
  justify-self: center;
  width: 100%;
  max-width: 1600px;
  overflow: scroll;
  z-index: 1;
}

.sound .panel.mobile {
  backdrop-filter: blur(2px);
}

.sound .panel .ant-collapse-header {
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 1;
}
.sound .panel .ant-collapse-header-text {
  padding-right: 1rem;
}
.sound .panel.mobile .ant-collapse-header {
  padding: 0;
}

.sound .panel .ant-collapse-content-box {
  padding-top: 3rem !important;
}

.sound .panel.desktop .ant-collapse-content-box {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  gap: 0.5rem 2rem;
}

.sound .panel.mobile .ant-collapse-content-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0;
}

/* Row */
.sound .track-card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.sound .track-row__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sound .track-row__title.active {
  color: var(--text-link);
}
.sound .track-row__title:hover {
  cursor: var(--cursor-hover);
}
.sound .track-row__more {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sound .panel.mobile .track-row__more {
  margin-top: 0.5rem;
}
.sound .track-row__more a {
  display: flex;
}

/* Filter */
.sound .filter {
  display: flex;
}
.sound .panel.mobile .filter {
  flex-direction: column;
  gap: 0.5rem;
}
.sound .panel.desktop .filter {
  grid-column: span 5;
  justify-content: space-between;
  align-items: center;
}

/* Navigation */
.sound .navigation {
  display: flex;
  gap: 1rem;
}

/* Modal */
.more-modal {
  /*  */
}

.more-modal .ant-collapse-header {
  padding: 1rem 0 0 0 !important;
}

.more-modal .header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}
.more-modal.mobile .header {
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.more-modal.mobile .ant-collapse-content-box {
  padding: 0.5rem 0 0 0 !important;
}

.more-modal .header .links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.more-modal.mobile .header .links {
  gap: 1rem;
}

.more-modal .header .links .profiles,
.more-modal .header .links .profiles-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.more-modal.mobile .header .links .profiles-content {
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.more-modal .header .actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.more-modal .description {
  text-align: justify;
}
.more-modal .description p:first-child {
  margin-top: 0;
}
.more-modal .description p:last-child {
  margin-bottom: 0;
}

/* Antd */
.sound .ant-skeleton-paragraph {
  margin: 0;
}
