.swarm {
  justify-self: center;
  width: 100%;
  max-width: 1600px;
  overflow: scroll;
  z-index: 1;
}

.swarm .ant-collapse-header {
  text-align: end;
}

.swarm .ant-collapse-content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.swarm .panel.mobile .ant-collapse-content-box,
.swarm .panel.mobile .ant-collapse-header {
  padding: 0;
}

.swarm .panel .wrapper {
  display: grid;
  gap: 1rem;
  min-width: 300px;
}
.swarm .panel.mobile .wrapper {
  gap: 0.5rem;
  min-width: 100%;
}

.swarm .colors,
.swarm .pattern,
.swarm .count {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

/* Count */
.swarm .count .ant-slider {
  grid-column: span 2;
}
.swarm .count .ant-switch {
  justify-self: flex-end;
}

/* Link */
.swarm .link {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
  gap: 1rem;
}
.swarm .panel.mobile .link {
  grid-template-columns: 1fr auto;
}
.swarm .panel.mobile .link button:first-of-type {
  grid-column: span 2;
}

/* Switch */
.swarm .ant-switch {
  max-width: 1rem !important;
}

/* Animation */
.swarm .ant-collapse-item svg.ant-collapse-arrow {
  transition: transform 0.25s ease;
}
.swarm .ant-collapse-item-active svg.ant-collapse-arrow {
  transform: rotate(-90deg);
}
